div .MultiSelectPrompt{
    /* background: #499F68; */
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
}

div .MultiSelectOptions{
    background: #C2C5BB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 10px;
    margin: 0 0 10px;
}

div .MultiSelectForm{
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    width: 50%;
    margin: 0 auto;
}

.Questions{
    height: 100vh;
    background-image: none;
    width: 100vw;
}

.Next{
    margin-top: 25px;
}