@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap");

body {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    background-color: #77B28C;
    font-family: "Nunito", sans-serif;
    color: #fff;
}

#top {
    gap: 0;
}

.question {
    /* background-color: #499F68; */
    position: relative;
    top: 50%;
    width: 100vw;
    font-weight: 700;
    margin: 10px 0;
    height: auto;
    font-size: 2vw;
}

.button-freq {
    width: 19.5vw;
    height: 19.5vw;
    font-size: 3vw;
}

#button-freq1 {
    border-radius: 50px 0px 0px 50px;
    background-color: #0A3329;
    border-color: #0A3329;
}

#button-freq2 {
    background-color: #1B6248;
    border-color: #1B6248;
}

#button-freq3 {
    background-color: #3C9643;
    border-color: #3C9643;
}

#button-freq4 {
    background-color: #68C97A;
    border-color: #68C97A;
}

#button-freq5 {
    border-radius: 0px 50px 50px 0px;
    background-color: #A0FF8C;
    border-color: #A0FF8C;
}

.button-row {
    flex: 0 0 100%;
    justify-content: space-evenly;
    display: inline-block;
}